@font-face {
    font-family: "Fraunces";
    src: url(../Fraunces/static/Fraunces_144pt-Regular.ttf);
}

@font-face {
    font-family: "Fraunces";
    src: url(../Fraunces/static/Fraunces_144pt-Regular.ttf);
}

@font-face {
    font-family: "Fraunces";
    src: url(../Fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
    font-family: "Manrope";
    src: url(../Manrope/static/Manrope-Regular.ttf);
    
}